*.py linguist-vendored=false

# Exclude other languages
*.c linguist-vendored=true
*.cpp linguist-vendored=true
*.h linguist-vendored=true
*.pyx linguist-vendored=true
*.pxd linguist-vendored=true
*.pxi linguist-vendored=true
*.c++ linguist-vendored=true